<div style="margin-top:2rem">

  <% @podcast.comments.each do |comment| %>
    <fieldset>
      <ol>
        <li>
          <%= current_user.username %>
          <!-- Displays at what time was the comment created. -->
          <%= comment.created_at.strftime('%a %-b %-d, %Y at %l:%M %P') %><br />
          <%= comment.content %>
          <!-- User can delete only the comments he made. -->
          <% if can? :destroy, comment %><%= link_to 'Delete Comment', [comment.podcast, comment], method: :Delete, data: {confirm: 'Are you sure?'} %>
          <% end %>
        </li>
      </ol>
    </fieldset>
  </div>
<% end %>
