<%= form_for([@podcast, @podcast.comments.new]) do |f| %>

<div>
  <%= f.text_area :content, rows: 2, cols: 60, placeholder: "Write a comment..." %>
</div>

<div class="btn-holder">
  <%= f.submit "Comment", class:"btn btn_highlight" %>
</div>
<% end %>
