<section class="container">
  <div class="row">
    <div class="col-md-12" style="margin-top:5rem">
      <div class="btn_holder"><br>
        <h2>Who are we?</h2>
      </div><br><br>

      <div class="p-left">
        <p>
          <%= image_tag 'ComedyClubSofiaTwo.jpg', class: "p-left episode_thumbnail" %>
        </p>

        <p>
          The Comedy Club is the first and currently the only comedy club in Bulgaria. We have clubs in Sofia and Plovdiv.<br/><br/>In 2015, comedian Ivan Kirkov founded Comedy Club Sofia in order to promote the stand up comedy genre in Bulgaria.<br/><br/>
          The first year turns out to be extremely difficult and Kirkov is about to go bankrupt and close the club shortly before April 1st, 2016. After Jimmy Carr's risky but extremely successful show in Bulgaria, organized by Comedy Club Sofia and Ivan
          Kirkov, things are back to normal and the Comedy Club is establishing itself as one of the favorite places in Sofia.<br/><br/>
          The first comedians and residents of the club are Vasil Nozharov, Nikola Todoroski, Niki Bankov and Ivan Kirkov. In 2016, Kirkov discovered some of the greatest talents of Bulgarian standup comedy, including Philip of the Comedy Club, Petya Kyupova,
          Alexander Deyanski, Nikolaos Tsitridis, Hristo Radoev, Christian Terziev and others.<br/><br/>More than three years later, there is almost no young person in the country who has never heard of Comedy Club Sofia and Standup Comedy in Bulgaria.<br/><br/>
          The Comedy Club<br/><strong>Sofia Address:</strong> 8 Lege Str<br/><strong>Plovdiv Address:</strong> Joakim Gruev Str
        </p>
      </div>
    </div>
  </div>

</section>
