<%= render 'shared/slideshow' %>
<section class="container">
  <div class="row">
    <div class="col-md-12" style="margin-top:3rem">
      <div class="btn_holder">
        <h2><%= t('home.home.welcome') %></h2>
      </div>
    </div>
  </div>
</section>
