<%= render 'shared/slideshow' %>
<section class="container">
  <div class="row">
    <div class="col-md-12" style="margin-top:3rem">
      <div class="btn_holder">
        <h2><%= t('home.home.welcome') %></h2>
        <p>Entertaining people and having fun is our first priority!
           Join us in our jorney - watch our online podcasts, or be
           our guest on one of our shows in every city in the country!</p>
      </div>
    </div>
  </div>
</section>
