<section class="container">
  <div class="row">
    <div class="col-md-12" style="margin-top:5rem">
      <h1>Editing Podcast</h1>
    </div>
  </div>
      <%= render 'form', podcast: @podcast %>
</section>
