<section class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Podcasts</h1>
    </div><!-- .col-md-12 -->
  </div><!-- .row -->


  <div class="row">
    <% @podcasts.each do |podcast| %>
    <div class="col-md-4">
      <div class="card">
        <div class="card-topper">
          <% if podcast.banner.present? %>
            <%= image_tag podcast.banner.url(:thumb) %>
          <% else %>
            <%= image_tag "noimage.jpg" %>
          <% end %>
        </div>
        <div class="card-block">
          <h4 class="card-title"><br><br><br>
            <%= link_to podcast.title, podcast, class: 'title-text' %>
          </h4>
          </div>
        </div><!-- card -->
      </div><!-- .col-md-4 -->
    <% end %>
  </div><!-- .row -->

<br>
</section>
