<div class="btn_holder" style="margin-top:5rem">
  <h2>Podcasts</h2><br><br>
</div>

<div id="podcasts-show" class="cf">
  <div class="wrapper">
    <ul class="cf">
      <% @podcasts.each do |podcast| %>
        <li>
          <% if podcast.banner.present? %>
            <%= image_tag podcast.banner.url(:thumb) %>
          <% else %>
            <%= image_tag "noimage.jpg" %>
          <% end %>
          <div class="overview">
            <h2><%= link_to podcast.title, podcast, class: 'title-text' %></h2>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div><!-- .row -->
<div class="main-pag">
  <div class="fixer-pag">
    <%= will_paginate @podcasts %>
  </div>
</div>
