<section class="container">
  <div class="row">
    <div class="col-md-12" style="margin-top:5rem">
      <div class="btn_holder">
        <h1><%= t('podcasts.new.title') %></h1>
      </div>
    </div>
  </div>

      <%= render 'form', podcast: @podcast %>
</section>
