<section class="container">
  <div class="row">
    <div class="col-md-12"  style="margin-top:5rem">
      <div class="btn_holder">
      <h2>Podcasts</h2><br><br>
      </div>
    </div><!-- .col-md-12 -->
  </div><!-- .row -->

  <div class="row">
      <!-- Podcasts count. -->
      <% c = 0 %>
      <% @podcasts.each do |podcast| %>
        <div class="col-md-4">
          <div class="card">
            <div class="card-topper">
              <% if podcast.banner.present? %>
                <%= image_tag podcast.banner.url(:thumb) %>
              <% else %>
                <%= image_tag "noimage.jpg" %>
              <% end %>
            </div>
            <div class="card-block">
              <h4 class="card-title"><br><br><br>
                <%= link_to podcast.title, podcast, class: 'title-text' %>
              </h4>
            </div>
          </div><!-- card -->
        </div><!-- .col-md-4 -->
      <% c = c + 1 %>
      <% end %>
      <h4> <%= c %> podcasts found! </h4>
    </div><!-- .row -->
    <br>
  </section>
